.sinal{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000;
    border: solid 2px blue;
}

.verde{
    background-color: #00ff00;
}

.amarelo{
    background-color: #ffff00;

}

.vermelho{
    background-color: #ff0000;
}

.apagado{
    background-color: #000;
}